/* Fonts */

:root {
  font-size: 1.2em;
}

@font-face {
  src: url("fonts/LinLibertine_R.otf") format("opentype");
  font-family: "Linux Libertine O";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("fonts/LinLibertine_RB.otf") format("opentype");
  font-family: "Linux Libertine O";
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url("fonts/LinLibertine_RI.otf") format("opentype");
  font-family: "Linux Libertine O";
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url("fonts/LinBiolinum_R.otf") format("opentype");
  font-family: "Linux Biolinum O";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("fonts/LinBiolinum_RB.otf") format("opentype");
  font-family: "Linux Biolinum O";
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url("fonts/LinBiolinum_RI.otf") format("opentype");
  font-family: "Linux Biolinum O";
  font-style: italic;
  font-weight: normal;
}

body {
  font-family: "Linux Libertine O", serif;
  font-weight: normal;
  font-size: 1.2em;

  text-align: justify;
  hyphens: auto;
}

h1, h2, h3 {
  font-family: "Linux Biolinum O", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  font-variant: small-caps;
  text-align: center;
  color: #222;
}

h2 {
  font-size: 2em;
  font-style: italic;
  color: #222;
}

h3 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}

/* Wikipedia-like hyperlink style */

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0b0080;
}

/* Floating button */

a.btn {
  display: inline-block;
  margin: 1em;
  padding: .7em .9em;
  position: relative;
  font-weight: bold;
  text-decoration: none !important;
  color: #000;
}

a.btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  border: 2px solid #000;
  background: #ffd700;
  transform: skewX(5deg);
}

a.btn:hover {
  color: #fff;
}

a.btn:hover::before {
  background: #000;
}

/* Figures */

figure {
  margin: 0;
  font-size: 0;
  text-align: center;
}

figure > img {
  margin: .5rem .7rem;
  font-size: 1rem;
  max-width: 100%;
  max-width: calc(100% - 1.4rem);
}

img.frame {
  box-shadow: 0 0 .5px 1px #000;
}

/* Lists */

ul, ol {
  text-align: left;
  display: inline-block;
}

li {
  position: relative;
  list-style: none;
  line-height: 2em;
}

li::before {
  content: '◆';
  font-size: 1em;
  position: absolute;
  left: -1.6em;
  color: #333;
}

/* Tables */

table {
  font-size: .9em;
  margin: 1em 0;
  padding: .1em;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: .3em;
  background: rgba(0,0,255,.07);
}

th {
  padding: .4em;
  font-size: 1.1em;
  text-align: left;
  color: #222;
}

th a, th a:visited {
  color: #222;
}

th > em {
  font-family: "Linux Biolinum O", sans-serif;
  font-weight: normal;
}

td {
  text-align: left;
  vertical-align: top;
  padding: .2em .5em;
  line-height: 1.5em;
  border-radius: .2em;
  border: 1px solid rgba(0,0,0,.2);
  background: rgba(255,255,255,.3);
}

td > em {
  margin: 0 .3em 0 -.2em;
  padding: .1em .5em;
  font-size: .9em;
  font-style: normal;
  font-weight: bold;
  font-family: "Linux Biolinum O", sans-serif;
  white-space: nowrap;
  border-radius: .2em;
  border: 1px solid rgba(0,0,0,.2);
  background: #eef;
}

/* Art Deco horizontal rules */

hr {
  position: relative;
  margin: 3em 0;
  border: 0;
  border-bottom: 2px solid #000;
  overflow: visible;
}

/*
Note that <hr> is a void node, so pseudo-elements are not really supposed to
work. However they do work with <hr> in all browsers I have tested. It is also
not really a problem if this is not shown.
*/
hr::before, hr::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #000;
  transform: translateY(-4.5px) rotate(45deg);
}

hr::before {
  left: -10px;
}

hr::after {
  right: -10px;
}

/* The Rest */

body {
  max-width: 40em;
  margin: 1em auto;
  margin-bottom: 3em;
  padding: 1em;
  line-height: 1.4em;
  background: #eef;
}

code {
  word-break: break-all;
}

section h3 {
  margin-bottom: 1.5em;
}

section table {
  width: 100%;
}

section th:first-child {
  width: 25%;
}

figure + center {
  margin-top: 2em;
  margin-bottom: 2em;
}

#background_effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background_effect > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 100%;
  border-top: 10em solid #ffd700;
}
